#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 7px 3px rgba(112, 87, 112, 1);
  background-color: #e6be1c;
  border-radius: 10px;
  width: 50vw;
  max-width: 500px;
  max-height: 500px;
  height: 50vh;
}

.tabs {
  display: flex;
}

.tabs > div {
  width: 50%;
  height: 40px;
}

.tabs > div > button {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: none;
  background-color: #bda235;
}

.active {
  background-color: #e6be1c !important;
}
